#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Type=Application
Name=pyNamaz
Exec=cd /home/mnc/pynamaz/app && /usr/bin/python /home/mnc/pynamaz/app/pyNamaz.py
Icon=/home/mnc/pynamaz/data/mosque.png

