[Desktop Entry]
Terminal=false
Type=Application
Name=pyNamaz
Path=/home/mnc/.pyNamaz/src
Exec=python3 pyNamaz.py
Icon=/home/mnc/.pyNamaz/data/icons/pyNamaz.png
